*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.body-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 3px 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;

  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-large {
  font-size: 21px;
  line-height: 26px;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.main-navigation {
  position: relative;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 530px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  display: block;
  width: 239px;
  min-height: 56px;
  padding-top: 14px;
  padding-bottom: 15px;

  font-weight: bold;
  text-align: center;
  color: #000000;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.main-container {
  margin: 0;
  padding: 0;
}

.main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;;
  background-color: #ffffff;
}

.main-intro-logo {
  width: 100%;
  height: 507px;
  margin-bottom: 60px;

  background-color: #55aaff;
  background-image:
    url("../img/polygon.png"),
    url("../img/welcome.svg"),
    url("../img/bg-logo.jpg"); /* TODO: добавить оставшиеся части */
  background-position:
    center 450px,
    center center,
    center -83px;
  background-size: auto, 459px 353px, auto; /* TODO: Размеры будут дальше */
  background-repeat: no-repeat;
}

.main-intro-slogan {
  width: 440px;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.main-intro-features {
  padding: 0;
  margin: 0;
  margin-bottom: 52px;

  color: #333333;
  text-align: center;
}

.features {
  background-color: #eeeeee;
}

.features h3 {
  width: 175px;
  margin: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;;
}

.features p {
  margin: 0;
  padding: 0;
}

.features-item-picture {
  display: flex;
  height: 256px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.features-item-picture-reversed .features-item-picture-info {
  order: 1;
}

.features-item-picture-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 46px;
  padding-left: 50px; /* was 60 l/r */
  padding-right: 49px;
  padding-bottom: 64px;
}

.features-item-picture-info h3 {
  margin-bottom: 25px;
}

.features-item-picture-info p {
  margin-bottom: 20px;

  line-height: 21px;
}

.features-item-picture-info p:last-child {
  margin-bottom: 0;
}

.features-item-picture-info img {
  width: 800px;
  height: 256px;
}

.features-items-list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;
}

.features-items-list h3 {
  padding-top: 50px;
  margin-bottom: 25px;
}

.features-items-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-items-list p {
  width: 285px;
  line-height: 21px;
  color: #333333;
}

.features-item p:first-of-type {
  margin-bottom: 18px;
}

.features-item p:last-of-type {
  margin-bottom: 60px;
}

.features-items-list-icons {
  background-color: #ffffff;
}

.features-items-list-icons p {
  margin-bottom: 81px;
}

.features-items-list-icons .features-icons-heading {
  position: relative;

  padding-top: 160px;
}

.features-icons-heading::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;

  width: 75px;
  height: 72px;

  margin-left: -37px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.features-living::before {
  background-image: url("../img/icon-1.svg");
}

.features-food::before {
  background-image: url("../img/icon-2.svg");
}

.features-souvenirs::before {
  top: 56px;

  height: 76px;
  margin-left: -32px;

  background-image: url("../img/icon-3.svg");
}

.booking {
  padding-top: 50px;
  text-align: center;
  background-color: #ffffff;
}

.booking h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.booking p {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  color: #333333;
}

.booking .button {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 33px;
}

.booking-popover {
  position: absolute;

  width: 567px;
  padding: 55px;
  margin-left: 317px;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.booking-form {
  display: flex;
  flex-direction: column;

  font-weight: bold;
}

.booking-form p {
  display: flex;
  justify-content: space-between;
  align-items: center;;

  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.booking-form input {
  width: 346px;
  padding: 0;
  padding-left: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;

  font: inherit;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.booking-form label {
  display: block;
}

.booking-form input:hover{
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.booking-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.booking-column p {
  width: 50%;
  margin: 0;
  padding-left: 50px;
}

.booking-column p:first-child {
  padding-left: 0;
}

.booking-form .button {
  margin-top: 53px;
  padding-top: 15px;
  padding-bottom: 18px;
}

.booking-column input{
  width: 114px;
}

.site-map img {
  display: block;
}

.hotels-filter {
  color: #ffffff;

  background-color: #006e81;
  background-image: url("../img/filter-background.jpg");
  background-position: center center;
  background-repeat: repeat;
}

.filters-form {
  position: relative;

  display: flex;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 29px;
  padding-left: 72px;
  padding-right: 74px;

}

.filters-column {
  margin: 0;
  margin-right: 118px;
  padding: 0;

  border: none;
}

.filter-type {
  margin-right: auto;
}

.filter-cost {
  margin-right: 0;
}

.filters-form legend {
  margin: 0;
  margin-bottom: 22px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-cost legend {
  margin-bottom: 13px;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 40px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
  opacity: 0.3;
}

.filter-button {
  position: absolute;
  bottom: 50px;
  right: 100px;

  font-weight: normal;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
}
.hotels {
  background-color: #ffffff;
}

.list-controls {
  display: flex;
  align-items: baseline;

  padding-top: 34px;
  padding-left: 71px;
  padding-right: 73px;
  padding-bottom: 33px;

  font-size: 12px;
  line-height: 18px;
}

.list-controls h3 {
  margin: 0;
  margin-right: 49px;
  padding: 0;

  font-size: 21px;
}

.list-controls p {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.list-sort-by {
  display: flex;

  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.list-sort-by li {
  margin-right: 33px;
}

.list-sort-by li:last-child {
  margin-right: 0;
}

.list-sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.list-sort-by a:hover,
.list-sort-by a:focus {
  color: #81b3d2;
}

.list-sort-by a:active {
  color: #000000;
  border-bottom: none;
}

.list-sort-by .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

.list-sort-type a {
  margin-right: 12px;

  color: #cacaca;
}

.list-sort-type a:last-child {
  margin-right: 0;
}

.sort-type path {
  fill: #cacaca;
}

.sort-active path {
  fill: #81b3d2;
}

.sort-type:hover path,
.sort-type:focus path {
  fill: #000000;
}

.sort-type:active path {
  fill: #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list li {
  border-top: 1px solid #e6e6e6;
}

.hotels-list li:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotels-list h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px 72px;
}

.hotel-details {
  display: flex;
}

.hotel-column {
  order: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 30px;
}

.hotel-column h3 {
  margin: 0;
}

.hotel-item-link {
  color: #000000;
}

.hotel-item-link:hover,
.hotel-item-link:focus {
  color: #81b3d2;
}

.hotel-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description-columns {
  display: flex;
  justify-content: space-between;
}

.hotel-description-column {
  display: flex;
  flex-direction: column;

  margin-right: 6px;
}

.hotel-description-column:last-child {
  margin-right: 0;
}

.hotel-description {
  color: #333333;
}

.hotel-description-column .button {
  margin-top: 15px;
}

.hotel-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hotel-stars img {
  margin-right: 6px;
}

.hotel-stars img:last-child {
  margin-right: 0;
}

.hotel-rating span {
  display: inline-block;
  padding-top: 1px;
  padding-right: 13px;
  padding-bottom: 0;
  padding-left: 15px;


  color: #666666;
  vertical-align: top;

  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 101px;
  padding-left: 124px;
  padding-bottom: 36px;

  background-color: #ffffff;
}

.footer-contacts {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
}

.footer-social {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-copyright span {
  margin-right: 7px;
}

.footer-copyright path {
  fill: #000000;
}

.footer-copyright-logo:hover path,
.footer-copyright-logo:focus path {
  fill: #81b3d2
}

.footer-copyright-logo:active path {
  fill: #bdbbbc;
}
