html {
  background-color: #f2f2f2;
}

body {


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.body-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;

  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-large {
  font-size: 21px;
  line-height: 26px;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.main-navigation {
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.main-intro {
  background-color: #ffffff;
}

.main-intro-logo {
  background-color: #55aaff;
  background-image: url("../img/bg-logo.jpg"); /* TODO: добавить оставшиеся части */
  background-position: center 0;
  background-size: contain; /* TODO: Размеры будут дальше */
  background-repeat: no-repeat;
}

.main-intro-slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.main-intro-features {
  color: #333333;
  text-align: center;
}

.features {
  background-color: #eeeeee;
}

.features h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;;
}

.features-item-picture {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.features-items-list {
  text-align: center;
  list-style: none;
}

.features-items-list p {
  color: #333333;
}

.features-items-list-icons {
  background-color: #ffffff;
}

.booking {
  text-align: center;
  background-color: #ffffff;
}

.booking h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.booking p {
  color: #333333;
}

.booking-popover {
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.booking-form {
  font-weight: bold;
}

.booking-form input {
  font: inherit;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.booking-form input:hover{
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.hotels-filter {
  color: #ffffff;

  background-color: #006e81;
  background-image: url("../img/filter-background.jpg");
  background-position: center center;
  background-repeat: repeat;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filters-form ul {
  list-style: none;
}

.filter-button {
  font-weight: normal;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #000000;

  background-color: #ffffff;
}
.hotels {
  background-color: #ffffff;
}

.list-controls {
  font-size: 12px;
  line-height: 18px;
}

.list-controls h3 {
  font-size: 21px;
}

.list-sort-by {
  list-style: none;
}

.list-sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.list-sort-by a:hover,
.list-sort-by a:focus {
  color: #81b3d2;
}

.list-sort-by a:active {
  color: #000000;
  border-bottom: none;
}

.list-sort-by .sort-active {
  color: #81b3d2;
  border-bottom: none;
}

.list-sort-type a {
  color: #cacaca;
}

.list-sort-type a:hover,
.list-sort-type a:focus {
  color: #000000;
}

.list-sort-type a:active {
  color: #81b3d2;
}

.list-sort-type .sort-active {
  color: #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list li {
  border-top: 1px solid #e6e6e6;
}

.hotels-list li:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotels-list h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px 72px;
}

.hotel-details {
  display: flex;
}

.hotel-column {
  order: 1;
  margin-left: 30px;
}

.hotel-column h3 {
  margin: 0;
}

.hotel-item-link {
  color: #000000;
}

.hotel-item-link:hover,
.hotel-item-link:focus {
  color: #81b3d2;
}

.hotel-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  color: #333333;
}

.hotel-rating span {
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  background-color: #ffffff;
}

.footer-contacts {
  margin-left: 132px;
  margin-right: 169px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}

.footer-social {
  list-style: none;
}

.footer-copyright {
  margin-left: auto;
  margin-right: 101px;
  text-align: center;
}
